# Rust
/target/
/builds/
**/*.rs.bk
ideas.txt
ideas2.txt
/vuio-config/
/demo/
Cargo.lock

# IDEs and editors
/.idea/
*.swp
*.swo
*.bak
*.tmp
*.vscode/
CLAUDE.md

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Byebug command history
.byebug_history

/demo-media/
/test-media/
/build/
